<!doctype html>
{% load static %}
{% load custom_tags %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="{% static 'b5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@4.1.1/dist/ol-layerswitcher.css" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
    <link href="{% static 'css/style.default.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'jquery-ui.css' %}">

<style>
 .tree-view {
        list-style: none;
    }

    .tree-view li {
        margin-left: 20px;
        position: relative;
    }

    .tree-view li.collapsible > ul {
        display: none;
    }

    .tree-view li.collapsible::before {
        content: '►';
        position: absolute;
        left: -20px;
    }

    .tree-view li.collapsible.collapsed::before {
        content: '▶';
    }

    .tree-view li:last-child {
        margin-left: 0;
    }

    .tree-view li:last-child::before {
        content: none;
    }

</style>

    <title>GO Tour</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GO Tour</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <input id="autocomplete-input" class="form-control mr-sm-2" type="text"
            placeholder="Search Destinations or Services" aria-label="Search" autocomplete="off">
     

            
        </div>
    </nav>

    <!-- Rest of your content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">


                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Catalog</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Route</button>
                    </li>
                    <!-- <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
                    </li> -->
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <ul id="treeview" class="tree-view">
                            <li>
                                <span class="collapse-icon bi bi-chevron-right" data-toggle="collapse" data-target="#step1"></span>
                                <input type="checkbox" id="step1" />
                                <label for="step1">Services</label>
                        
                                <ul id="step1" class="collapse">
                                   
                                    {% for service_info in combined_data.services|get_distinct_service_ty_info %}
                                    <li>
                                        <span class="collapse-icon bi bi-chevron-right" data-toggle="collapse" data-target="#{{ service_info.service_type }}"></span>
                                        <input type="checkbox" id="{{ service_info.service_type }}" data-x="{{ obj.x }}" data-y="{{ obj.y }}"> <label for="{{ service_info.service_type }}">{{ service_info.service_type }}</label> ({{ service_info.count }})
                                        <ul id="{{ service_info.service_type }}" class="collapse">
                                            {% for obj in service_info.objects %}
                                                <li>
                                                    <input type="checkbox" id="{{ obj.id }}" data-x="{{ obj.x }}" data-y="{{ obj.y }}"> <label for="{{ obj.id }}" style="font-size: 13px;">{{ obj.full_name }}</label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                          

                            <li>
                                <span class="collapse-icon bi bi-chevron-right" data-toggle="collapse" data-target="#step1"></span>
                                <input type="checkbox" id="step1" />
                                <label for="step1">Destination</label>
                        
                                <ul id="step1" class="collapse">
                                   
                                    {% for destibnation_info in combined_data.destinations|get_distinct_destinations_ty_info %}
                                    <li>
                                        <span class="collapse-icon bi bi-chevron-right" data-toggle="collapse" data-target="#{{ destibnation_info.destinatio }}"></span>
                                        <input type="checkbox" 
                                        id="{{ destibnation_info.destinatio }}" 
                                        data-geom="{{ destibnation_info.geom }}" 
                                        data-objectid="{{ destibnation_info.objectid }}" 
                                        data-name="{{ destibnation_info.name }}" 
                                        data-datetimes="{{ destibnation_info.datetimes }}" 
                                        data-elevation="{{ destibnation_info.elevation }}" 
                                        data-code="{{ destibnation_info.code }}" 
                                        data-full_name="{{ destibnation_info.full_name }}" 
                                        data-short_name="{{ destibnation_info.short_name }}" 
                                        data-zone="{{ destibnation_info.zone }}" 
                                        data-wereda="{{ destibnation_info.wereda }}" 
                                        data-kebele="{{ destibnation_info.kebele }}" 
                                        data-locality_n="{{ destibnation_info.locality_n }}" 
                                        data-organizati="{{ destibnation_info.organizati }}" 
                                        data-destinatio="{{ destibnation_info.destinatio }}" 
                                        data-status="{{ destibnation_info.status }}" 
                                        data-area_sqkm="{{ destibnation_info.area_sqkm }}" 
                                        data-yearly_est="{{ destibnation_info.yearly_est }}" 
                                        data-unesco_reg="{{ destibnation_info.unesco_reg }}" 
                                        data-descriptio="{{ destibnation_info.descriptio }}" 
                                        data-photo_no="{{ destibnation_info.photo_no }}" 
                                        data-photo_loca="{{ destibnation_info.photo_loca }}" 
                                        data-site_des_a="{{ destibnation_info.site_des_a }}" 
                                        data-amharic="{{ destibnation_info.amharic }}" 
                                        data-english="{{ destibnation_info.english }}" 
                                        data-x="{{ destibnation_info.x }}" 
                                        data-y="{{ destibnation_info.y }}" 
                                        data-image1="{{ destibnation_info.image1 }}" 
                                        data-image2="{{ destibnation_info.image2 }}">    
                                        <label for="{{ destibnation_info.destinatio }}">{{ destibnation_info.destination_type }}</label> ({{ destibnation_info.count }})                                    
                                        <ul id="{{ destibnation_info.destinatio }}" class="collapse">
                                            {% for obj in destibnation_info.objects %}
                                                <li>
                                                    <input type="checkbox" id="{{ obj.id }}" data-x="{{ obj.x }}" data-y="{{ obj.y }}"> <label for="{{ obj.id }}" style="font-size: 13px;">{{ obj.full_name }}</label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        
                        
                        
                    </li>
                   
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        this part of app is under maintainance we will get back soon</div>
                    <!-- <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div> -->
                </div>


            </div>
            <div class="col-9">
                <div id="map-canvas"></div>

            </div>

        </div>
    </div>
    <div id="popup" class="ol-popup">
        <div class="popup-card">
            <div class="popup-header">
                <span id="popup-closer" class="ol-popup-closer">×</span>
            </div>
            <div class="popup-content" id="popup-content">
                <!-- Feature data will be inserted here -->
            </div>
        </div>
    </div>
    <script src="{% static 'b5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.10.2.min.js'%}"></script>

    <script src="{% static 'ol.js' %}"></script>
    <script src="https://unpkg.com/ol-layerswitcher@4.1.1"></script>
    <script src="{% static 'jquery-ui.js' %}"></script>
    <script>
        $(function() {
            var combinedData = "{{ combined_data_autocomplete|safe }}";

    var combinedData = {
        services: [
            { full_name: "Service 1", },
            { full_name: "Service 2" },
            // Add more service objects as needed
        ],
        destinations: [
            { full_name: "Destination 1" },
            { full_name: "Destination 2" },
            // Add more destination objects as needed
        ]
    };

    var availableTags = [];
    // Combine service and destination full names into a single array
    combinedData.services.forEach(function(service) {
        availableTags.push(service.full_name);
    });
    combinedData.destinations.forEach(function(destination) {
        availableTags.push(destination.full_name);
    });

    $("#autocomplete-input").autocomplete({
        source: availableTags
    });
});
        // Function to add markers to the map based on coordinates
        function addMarkersToMap(coordinates) {
            // Remove previous markers
            map.getLayers().forEach(layer => {
                if (layer.get('name') === 'markers') {
                    map.removeLayer(layer);
                }
            });
    
            // Create a vector layer for markers
            var markerLayer = new ol.layer.Vector({
                name: 'markers',
                source: new ol.source.Vector(),
            });
    
            // Add markers to the layer
            coordinates.forEach(coord => {
                var marker = new ol.Feature({
                    geometry: new ol.geom.Point([coord.x, coord.y])
                });
                markerLayer.getSource().addFeature(marker);
            });
    
            // Add the marker layer to the map
            map.addLayer(markerLayer);
        }
    
        $(document).ready(function () {
            
            $('.collapse-icon').click(function (event) {
                event.stopPropagation();
                $(this).toggleClass('bi-chevron-right bi-chevron-down');
                var $ul = $(this).siblings('ul');
                if ($ul.length > 0) {
                    $ul.toggle();
                }
            });
    
            function getCheckedLeafNodes($node) {
                var checkedLeafNodes = [];
                $node.find(':checkbox:checked').each(function () {
                    var $checkbox = $(this);
                    if ($checkbox.siblings('ul').length === 0) {
                        checkedLeafNodes.push({
                            id: $checkbox.attr('id'),
                            x: $checkbox.data('x'),
                            y: $checkbox.data('y')
                        });
                    }
                });
    
                $node.find('ul').each(function () {
                    var childLeafNodes = getCheckedLeafNodes($(this));
                    checkedLeafNodes = checkedLeafNodes.concat(childLeafNodes);
                });
    
                return checkedLeafNodes;
            }
    
            function toggleChildren($parentCheckbox) {
                var isChecked = $parentCheckbox.prop('checked');
                $parentCheckbox.siblings('ul').find(':checkbox').prop('checked', isChecked);
            }
    
            $('.tree-view :checkbox').change(function () {
                var $parentCheckbox = $(this);
                toggleChildren($parentCheckbox);
    
                // Get checked leaf nodes after toggling children
                var checkedLeafNodes = getCheckedLeafNodes($parentCheckbox.closest('ul'));
    
                // Add markers to the map based on checked coordinates
                addMarkersToMap(checkedLeafNodes);
            });
    
            // Trigger checkbox change event on page load to display checked points
            $('.tree-view :checkbox:checked').trigger('change');
        });
    
        var map = new ol.Map({
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM(),
                    name: 'OSM'
                })
            ],
            target: 'map-canvas',
            controls: ol.control.defaults({
                attributionOptions: ({
                    collapsible: false
                })
            }),
            view: new ol.View({
                center: [37, 8],
                zoom: 5,
                projection: 'EPSG:4326'
            })
        });
        var layerSwitcher = new ol.control.LayerSwitcher({
            tipLabel: 'Layer Switcher',
            reverse: true,
            groupSelectStyle: 'group'
        });
    
        map.addControl(layerSwitcher);
    </script>
    
    
 
</body>

</html>