<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="{% static 'b5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@4.1.1/dist/ol-layerswitcher.css" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
    <link href="{% static 'css/style.default.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <title>GO Tour</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GO Tour</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <input id="autocomplete-input" class="form-control mr-sm-2" type="text"
                placeholder="Search Destinations or Services" aria-label="Search">
            <!-- <input type="text" id="autocomplete-input" placeholder="Search..."> -->
        </div>
    </nav>

    <!-- Rest of your content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">


                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Catalog</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Route</button>
                    </li>
                    <!-- <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
                    </li> -->
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <ul id="treeview" class="tree-view">
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        this part of app is under maintainance we will get back soon</div>
                    <!-- <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div> -->
                </div>


            </div>
            <div class="col-9">
                <div id="map-canvas"></div>

            </div>

        </div>
    </div>
    <div id="popup" class="ol-popup">
        <div class="popup-card">
            <div class="popup-header">
                <span id="popup-closer" class="ol-popup-closer">×</span>
            </div>
            <div class="popup-content" id="popup-content">
                <!-- Feature data will be inserted here -->
            </div>
        </div>
    </div>
    <script src="{% static 'b5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.10.2.min.js'%}"></script>

    <script src="https://openlayers.org/en/v3.20.1/build/ol.js"></script>
    <script src="https://unpkg.com/ol-layerswitcher@4.1.1"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script> -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>

        const popupCloser = document.getElementById('popup-closer');

        // Add a click event listener to the close button
        popupCloser.addEventListener('click', function () {
            popup.getElement().style.display = 'none'; // Hide the popup
        });


        var geoserver_destination_url = "localhost:8080/geoserver/GOTour/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=GOTour%3Adestinations&maxFeatures=10000&outputFormat=application%2Fjson";
        var geoserver_service_url = "localhost:8080/geoserver/GOTour/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=GOTour%3Aservices&maxFeatures=1000&outputFormat=application%2Fjson";

        $(document).ready(function () {
            $("#autocomplete-input").autocomplete({
                source: function (request, response) {
                    var term = request.term.toLowerCase();
                    $.ajax({
                        url: geoserver_destination_url,
                        method: "GET",
                        dataType: "json",
                        success: function (destinationData) {
                            $.ajax({
                                url: geoserver_service_url,
                                method: "GET",
                                dataType: "json",
                                success: function (serviceData) {
                                    var mergedData = destinationData.features.concat(serviceData.features);
                                    var suggestions = [];

                                    $.each(mergedData, function (key, value) {
                                        const isDestinations = value.id.split('.')[0] === 'destinations';
                                        const full_name = isDestinations
                                            ? value.properties.Full_Name
                                            : value.properties.full_name;

                                        if (full_name.toLowerCase().includes(term)) {
                                            suggestions.push(full_name);
                                        }
                                    });

                                    response(suggestions);
                                },
                                error: function (err) {
                                    console.error("Error fetching service data: ", err);
                                    response([]);
                                }
                            });
                        },
                        error: function (err) {
                            console.error("Error fetching destination data: ", err);
                            response([]);
                        }
                    });
                },
                minLength: 0, // Minimum length before triggering autocomplete
                select: function (event, ui) {
                    var selectedValue = ui.item.value;
                    // Handle the selection of an autocomplete suggestion
                    // For example, you can navigate to a specific destination or service page
                    // You can also trigger a search or display additional information.
                }
            });
        });
        // Add an event handler for the autocomplete select event
        $("#autocomplete-input").on("autocompleteselect", function (event, ui) {
            var selectedValue = ui.item.value;

            // Update the map with the selected location
            updateMapWithSelectedLocation(selectedValue);
        });

        // Function to update the map with the selected location
        async function updateMapWithSelectedLocation(selectedLocationName) {
            // Your existing code to add markers or update the map goes here
            // You can use the selectedLocationName to filter and display the selected location on the map.
            // For example, if you have a list of destinations or services and you want to display the selected one, you can filter the data and add a marker to the map.

            // Here's a simplified example:
            var vectorSource = new ol.source.Vector(); // Create a new vector source
            const destinationData = await fetchDestinationData();
            const serviceData = await fetchServiceData();
            var mergedData = destinationData.concat(serviceData);

            // console.log(mergedData)
            // Assuming destinationsData is an array of destination features
            mergedData.forEach(function (f) {
                const splitId = f.id.split('.');
                const isDestinations = splitId[0] === 'destinations';
                const full_name = isDestinations
                    ? f.properties.Full_Name
                    : f.properties.full_name;
                // const full_name = feature.properties.Full_Name.toLowerCase();
                // console.log(full_name)
                if (full_name === selectedLocationName) {
                    const coordinates = isDestinations
                        ? f.geometry.coordinates
                        : f.geometry.coordinates[0];
                    const feature = new ol.Feature({
                        geometry: new ol.geom.Point([coordinates[0], coordinates[1]]),
                        name: full_name,
                        // You can add more properties as needed
                    });
                    const markerIcon2 = new ol.style.Icon({
                        src: '{% static "images/marker-shadow.png"%}', // Replace with the path to your marker image
                        anchor: [0.5, 1], // Center the icon on the feature's coordinates
                        scale: 0.5, // Adjust the scale as needed
                    });
                    function createMarkerStyle2(feature) {
                        return new ol.style.Style({
                            image: markerIcon2,
                        });
                    }
                    // Set the marker style for the feature
                    feature.setStyle(createMarkerStyle2(feature));
                    vectorSource.addFeature(feature);
                    const extent = feature.getGeometry().getExtent();

                    // Optionally, calculate a padding value to zoom out slightly
                    const padding = 0; // You can adjust this value

                    // Animate the map view to the extent of the selected feature
                    // Calculate the extent of all features in the vector source

                    // Add padding to the extent
                    const paddedExtent = ol.extent.buffer(extent, padding);

                    // Animate the map view to the padded extent
                    map.getView().fit(paddedExtent, map.getSize(), { duration: 1500 });

                }
            });

            // Add the vector layer to the map (remove existing layers if needed)
            var vectorLayer = new ol.layer.Vector({
                source: vectorSource,
            });

            map.getLayers().forEach(function (layer) {
                if (layer instanceof ol.layer.Vector) {
                    map.removeLayer(layer);
                }
            });

            map.addLayer(vectorLayer);

            // Optionally, zoom to the selected location on the map
            // You can use the extent of the selected feature or set a fixed zoom level.
        }

        var services = {{ services| safe}}
        var destinations = {{ destinations| safe}}

        var map = new ol.Map({
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM(),
                    name: 'OSM'
                })
            ],
            target: 'map-canvas',
            controls: ol.control.defaults({
                attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
                    collapsible: false
                })
            }),
            view: new ol.View({
                center: [37, 8],
                zoom: 5,
                projection: 'EPSG:4326'
            })
        });
        var layerSwitcher = new ol.control.LayerSwitcher({
            tipLabel: 'Layer Switcher',
            reverse: true,
            groupSelectStyle: 'group'

        });

        map.addControl(layerSwitcher);

        var jsonData = [
            {
                "text": "Services",
                "children": services
            },
            {
                "text": "Destinations",
                "children": destinations
            }
        ];
        const iconMappings = {
            'Services': 'bi-list', // Bootstrap 5 icon for "list"
            'Air Port': 'bi-airport', // Bootstrap 5 icon for "airport"
            'Bank': 'bi-bank', // Bootstrap 5 icon for "bank"
            'Beverage': 'bi-cup-straw', // Bootstrap 5 icon for "cup-straw"
            'Bus Terminal': 'bi-bus', // Bootstrap 5 icon for "bus"
            'Café': 'bi-coffee', // Bootstrap 5 icon for "coffee"
            'Camp Site': 'bi-tree', // Bootstrap 5 icon for "tree"
            'Catholic Church': 'bi-church', // Bootstrap 5 icon for "church"
            'Clinic': 'bi-hospital', // Bootstrap 5 icon for "hospital"
            'College': 'bi-building', // Bootstrap 5 icon for "building"
            'Garage': 'bi-tools', // Bootstrap 5 icon for "tools"
            'Gas Station': 'bi-gas-pump', // Bootstrap 5 icon for "gas-pump"
            'Health Center': 'bi-hospital', // Bootstrap 5 icon for "hospital"
            'Health Post': 'bi-hospital', // Bootstrap 5 icon for "hospital"
            'Hospital': 'bi-hospital', // Bootstrap 5 icon for "hospital"
            'Hotel': 'bi-building', // Bootstrap 5 icon for "building"
            'Lodge': 'bi-building', // Bootstrap 5 icon for "building"
            'Mosque': 'bi-mosque', // Bootstrap 5 icon for "mosque"
            'Municipal': 'bi-building', // Bootstrap 5 icon for "building"
            'Museum': 'bi-museum', // Bootstrap 5 icon for "museum"
            'Office': 'bi-building', // Bootstrap 5 icon for "building"
            'Open Market': 'bi-shop', // Bootstrap 5 icon for "shop"
            'Orthodox Church': 'bi-church', // Bootstrap 5 icon for "church"
            'Pension': 'bi-building', // Bootstrap 5 icon for "building"
            'Pharmacy': 'bi-flask', // Bootstrap 5 icon for "flask"
            'Police Station': 'bi-shield', // Bootstrap 5 icon for "shield"
            'Protestant Church': 'bi-church', // Bootstrap 5 icon for "church"
            'Repair': 'bi-tools', // Bootstrap 5 icon for "tools"
            'Restaurant': 'bi-restaurant', // Bootstrap 5 icon for "restaurant"
            'School': 'bi-building', // Bootstrap 5 icon for "building"
            'Stadium': 'bi-stadium', // Bootstrap 5 icon for "stadium"
            'Supper Market': 'bi-cart', // Bootstrap 5 icon for "cart"
            'University': 'bi-building', // Bootstrap 5 icon for "building"
            'Destinations': 'bi-list', // Bootstrap 5 icon for "list"
            'Cultural': 'bi-building', // Bootstrap 5 icon for "building"
            'Man Made': 'bi-building', // Bootstrap 5 icon for "building"
            'Natural': 'bi-tree' // Bootstrap 5 icon for "tree"
        };

        var co = 0;

function buildTree($parent, data) {
  $.each(data, function (index, item) {
    var $li = $("<li></li>");
    var $checkbox = $("<input type='checkbox' class='node-checkbox'>");
    var $a = $("<a>" + item.text + "</a>");

    if (item.children && item.children.length > 0) {
      $li.append($checkbox);
      $li.append($a);

      if (item.text == 'Services' || item.text == 'Destinations') {
        const totalChildrenCount = countTotalChildren(item.children);
        $a.append("<span class='badge bg-primary'>" + totalChildrenCount + "</span>");
      } else {
        $a.append("<span class='badge bg-primary'>" + item.children.length + "</span>");
      }

      var $ul = $("<ul></ul>");
      $li.append($ul);
      buildTree($ul, item.children);
      $a.prepend("<span class='bi bi-chevron-right'></span>");

      if (iconMappings[item.text]) {
        $a.append("<span class='" + iconMappings[item.text] + "'></span>");
      }
    } else {
      $li.append($checkbox);
      $li.append($a);
    }

    $parent.append($li);
  });
}

function countTotalChildren(data) {
  let totalCount = 0;
  for (const item of data) {
    totalCount += item.children.length;
  }
  return totalCount;
}

        function getCheckedHierarchy() {
            var hierarchy = {};

            function traverse(node, obj) {
                var text = node.text();
                obj[text] = {};
                node.siblings("ul").children("li").each(function () {
                    var checkbox = $(this).children(".node-checkbox");
                    if (checkbox.prop("checked")) {
                        traverse($(this).children("a"), obj[text]);
                    }
                });
            }

            $("#treeview > li").each(function () {
                var checkbox = $(this).children(".node-checkbox");
                if (checkbox.prop("checked")) {
                    traverse($(this).children("a"), hierarchy);
                }
            });

            return hierarchy;
        }

        function updateOutput() {
            var hierarchy = getCheckedHierarchy();
            $("#output").text(JSON.stringify(hierarchy, null, 2));

            // Handle leaf nodes
            $("#treeview > li").each(function () {
                var $parentLi = $(this);
                var $checkboxes = $parentLi.find(".node-checkbox");
                var isChecked = $checkboxes.filter(":checked").length === $checkboxes.length;
                $parentLi.children(".node-checkbox").prop("checked", isChecked);
                if (isChecked && $parentLi.find("ul").length === 0) {
                    var text = $parentLi.find("a").text();
                    var parentText = $parentLi.parent().closest("li").find("a").text();
                    if (!hierarchy[parentText]) {
                        hierarchy[parentText] = [];
                    }
                    hierarchy[parentText].push(text);
                }
            });
            var checkedCheckboxes = getLeafNodeValues();
            updateMap(checkedCheckboxes)
        }
        async function fetchDestinationData() {
            try {
                const response = await fetch(geoserver_destination_url);
                const data = await response.json();
                return data.features || [];
            } catch (error) {
                console.error("Error fetching destination data:", error);
                return [];
            }
        }

        async function fetchServiceData() {
            try {
                const response = await fetch(geoserver_service_url);
                const data = await response.json();
                return data.features || [];
            } catch (error) {
                console.error("Error fetching service data:", error);
                return [];
            }
        }
        const markerIcon = new ol.style.Icon({
            src: '{% static "images/marker-icon.png"%}', // Replace with the path to your marker image
            anchor: [0.5, 1], // Center the icon on the feature's coordinates
            scale: 0.5, // Adjust the scale as needed
        });
        function createMarkerStyle(feature) {
            return new ol.style.Style({
                image: markerIcon,
            });
        }

        async function addFeaturesToVectorSource(vectorSource, data, checkedCheckboxes) {
            data.forEach(function (destinationFeature) {
                const splitId = destinationFeature.id.split('.');
                const isDestinations = splitId[0] === 'destinations';
                const full_name = isDestinations
                    ? destinationFeature.properties.Full_Name
                    : destinationFeature.properties.full_name;
                const wereda = isDestinations
                    ? destinationFeature.properties.Wereda
                    : destinationFeature.properties.wereda;

                if (checkedCheckboxes.includes(full_name)) {
                    const coordinates = isDestinations
                        ? destinationFeature.geometry.coordinates
                        : destinationFeature.geometry.coordinates[0];

                    const feature = new ol.Feature({
                        geometry: new ol.geom.Point([coordinates[0], coordinates[1]]),
                        name: full_name,
                        wereda: wereda

                    });

                    // Set the marker style for the feature
                    feature.setStyle(createMarkerStyle(feature));

                    vectorSource.addFeature(feature);
                }
            });
        }

        async function updateMap(checkedCheckboxes, padding = 0) {
            const vectorSource = new ol.source.Vector(); // Create an empty vector source

            const vectorLayer = new ol.layer.Vector({
                source: vectorSource
            });

            map.getLayers().forEach(function (layer) {
                if (layer instanceof ol.layer.Vector) {
                    map.removeLayer(layer);
                }
            });

            const destinationData = await fetchDestinationData();
            addFeaturesToVectorSource(vectorSource, destinationData, checkedCheckboxes);
            const serviceData = await fetchServiceData();
            addFeaturesToVectorSource(vectorSource, serviceData, checkedCheckboxes);

            // Calculate the extent of all features in the vector source
            const extent = vectorSource.getExtent();

            // Add padding to the extent
            const paddedExtent = ol.extent.buffer(extent, padding);

            // Animate the map view to the padded extent
            map.getView().fit(paddedExtent, map.getSize(), { duration: 1500 });

            map.addLayer(vectorLayer);
        }


        $(document).ready(function () {
            buildTree($("#treeview"), jsonData);
            $("#treeview ul").hide();

            $("#treeview a").click(function (e) {
                e.preventDefault();
                var $ul = $(this).siblings("ul");
                $ul.toggle();
                var $icon = $(this).find("span.bi");
                if ($icon.hasClass("bi-chevron-right")) {
                    $icon.removeClass("bi-chevron-right").addClass("bi-chevron-down");
                } else {
                    $icon.removeClass("bi-chevron-down").addClass("bi-chevron-right");
                }
            });
            $("#treeview .node-checkbox").change(function () {
                var isChecked = $(this).prop("checked");
                var $parentLi = $(this).closest("li");
                $parentLi.find(".node-checkbox").prop("checked", isChecked);
                updateOutput();

            });

            $("#treeview ul").hide();
        });
        function getLeafNodeValues() {
            var leafNodeValues = [];
            $("#treeview .node-checkbox:checked").each(function () {
                var $parentLi = $(this).closest("li");
                if ($parentLi.children("ul").length === 0) {
                    leafNodeValues.push($(this).next("a").text()); // Store the label text of the checked leaf node
                }
            });
            return leafNodeValues;
        }
        const popup = new ol.Overlay({
            element: document.getElementById('popup'),
            positioning: 'bottom-center',
            stopEvent: false,
            offset: [0, -10], // Offset the popup slightly above the clicked point
        });
        map.addOverlay(popup);
        function displayFeatureInfo(coordinate, content) {
            popup.setPosition(coordinate);
            document.getElementById('popup-content').innerHTML = content;
            popup.getElement().style.display = 'block';
        }
        map.on('click', function (event) {
            map.forEachFeatureAtPixel(event.pixel, function (feature) {
                // Get the feature's properties or any data you want to display
                const properties = feature.getProperties();
                // console.log(properties)
                // Format the feature data for display in the popup
                const content = `
            <h3>${properties.name}</h3>
            <p>Other information: ${properties.wereda}</p>
            <!-- Add more properties here as need->ed -
        `;

                // Display the feature data in the popup
                displayFeatureInfo(event.coordinate, content);
            });
        });


    </script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>